@import 'variables';

.jobs-wrapper {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 0px;
  color: $text-dark-color;
  > * {
    border-bottom: 2px solid $bg-color1;
    &:last-child {
      border-bottom: none;
    }
  }
}