/* Fading Circle */
.sk-fading-circle {
  width: 15px;
  height: 15px;
  position: relative;
  display: inline-block;
  .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
      animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    }
  }
  &.sk-dark {
    .sk-circle {
      &:before {
        background-color: #000;
      }
    }
  }
  @for $i from 1 through 11 {
    .sk-circle#{$i+1} {
      -webkit-transform: rotate(#{$i*30}deg);
      -ms-transform: rotate(#{$i*30}deg);
      transform: rotate(#{$i*30}deg);
      &:before {
        -webkit-animation-delay: -#{1.2-($i/10)}s;
        animation-delay: -#{1.2-($i/10)}s;
      }
    }
  }
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
/* End Fading Circle */
