@import 'variables';
@import 'breakpoints';

.details {
  display: flex;
  margin-bottom: 40px;
  .icon-wrapper {
    font-size: 18px;
    width: 30px;
    flex-shrink: 0;
    @include tablet {
      padding-top: 12px;
    }
  }
  .details-wrapper {
    
  }
  .link-wrapper {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    a {
      color: $primary-color;
      font-size: 14px;
      font-weight: 600;
    }
    @include tablet {
      align-items: center;
      a {
        font-size: 35px;
      }
    }
  }
  @include tablet {
    margin-bottom: 0;
    border-bottom: 2px solid $bg-color1;
    padding: 15px 0;
    &.noBorder {
      border-bottom: none;
    }
  }
}

.title-wrapper {
  display: flex;
  font-weight: 600;
  color: #000;
  font-size: 16px;
  .inline-icon {
    margin-right: 10px;
  }
}