@import 'variables';
@import 'breakpoints';

.back-button {
  cursor: pointer;
}

.job-banner {
  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
  }
}
.job-highlight {
  background-color: #30D5AB;
  display: flex;
  padding: 12px 16px;
  > :nth-child(2) {
    margin-left: auto;
    text-align: right;
  }
}
.info {
  .info-title {
    color: #000;
    font-weight: 700;
    font-size: 13px;
  }
  .info-value {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
  }
}
.hourly-rate{
  letter-spacing: 1px;
  &:first-letter{
    font-size: 16px;
    vertical-align: 7px;
  }
}
.job-content {
  background-color: #fff;
  padding: 16px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  .sub-content {
    display: flex;
    > :nth-child(1) {
      flex: 2;
    }
    > :nth-child(2) {
      flex: 2;
    }
    @include tablet {
      display: block;
    }
  }
}
.location-distance {
  font-size: 14px;
  margin-top: 5px;
  color: $primary-color;
}
.action-wrapper {
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
  @include tablet {
    margin-top: 10px;
  }
}