.alert {
  font-size: 14px;
  padding: 6px 16px;
  align-self: start;
}
.alert-error {
  color: #5f2120;
  background-color: #fdeded;
  border-radius: 3px;
}
.alert-success {
  color: #1e4620;
  background-color: #edf7ed;
  border-radius: 3px;
}