@import 'variables';

.button {
  border: 0;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: $primary-color;
  transition: all 0.3s ease;
  border-radius: 3px;
  letter-spacing: 1px;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover {
    background-color: $third-color;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.8;
  }
}

.button-outlined {
  color: $secondary-color;
  border: 2px solid $secondary-color;
  background-color: transparent;
  &:hover {
    color: #fff;
    background-color: $secondary-color;
  }
}

.button-sm { 
  padding: 6px 10px;
  font-size: 12px;
}