@import 'breakpoints';

.job-wrapper {
  padding: 20px;
  display: flex;
  @include mobile {
    display: block;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.company {
  font-size: 16px;
  font-weight: 600;
}

.right-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .rate {
    font-weight: 600;
    font-size: 24px;
    .rate-hr {
      font-size: 18px;
    }
  }
  .button-wraper {
    margin-top: auto;
  }
  @include mobile {
    flex-direction: row;
    margin-top: 10px;
    .button-wraper {
      margin-left: auto;
    }
  }
}

.details-wrapper {
  display: flex;
  column-gap: 40px;
  margin-top: 10px;
}
.info {
  .info-title {
    color: #5b616b;
    font-size: 14px;
    font-weight: 600;
  }
  .info-value {
    font-size: 16px;
    font-weight: 500;
  }
}