@import 'variables';
@import 'breakpoints';

.profile-wrapper {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 0px;
  padding: 16px;
  h2 {
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid $bg-color1;
  }
}

.info {
  display: flex;
  margin-bottom: 15px;
  .info-title {
    font-weight: 600;
    width: 170px;
  }
  @include mobile {
    display: block;
  }
}
.action-wrapper {
  margin-top: 20px;
  text-align: right;
}