@import 'variables';

.header-wrapper {
  background-color: $primary-color;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  max-height: 64px;
}

.logo {
  height: 40px;
}

.right-wrapper {
  margin-left: auto;
}

.profile-name {
  a {
    font-size: 18px;
    color: $text-light-color;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}