@import 'variables';

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?472ihy');
  src:  url('assets/fonts/icomoon.eot?472ihy#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?472ihy') format('truetype'),
    url('assets/fonts/icomoon.woff?472ihy') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e904";
  color: #030d45;
}
.icon-calendar:before {
  content: "\e900";
}
.icon-pin:before {
  content: "\e901";
}
.icon-tools:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}



body {
  margin: 0;
  color: $text-dark-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}