@import 'variables';

@mixin mobile {
  @media (max-width: #{$screen-mobile}) {
      @content;
  }
}
@mixin tablet {
  @media (max-width: #{$screen-tablet}) {
      @content;
  }
}
@mixin laptop {
  @media (max-width: #{$screen-laptop}) {
      @content;
  }
}