// Small tablets and large smartphones (landscape view)
$screen-mobile: 768px;

// Small tablets (portrait view)
$screen-tablet: 992px;

// Tablets and small desktops
$screen-laptop: 1200px;


$primary-color: #33374c;

$secondary-color: #5b616b;

$third-color: #00b5f0;

$bg-color1: rgba(240, 240, 240, 0.45);

$text-light-color: #FBFBFB;


$text-dark-color: $primary-color;